:root {
    --containerH: 85vh;
    --containerW: 85vw;
  }
  
  body {
    background-color: #16161D;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  body * {
    transition: 350ms ease-in-out;
  }
  
  h1, h2, h3, h4 {
    color: whitesmoke;
  }
  
  h3 {
    font-size: 14px;
    font-weight: bold;
  }
  
  #main-container {
    height: var(--containerH);
    width: var(--containerW);
    background-color: #212121;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
  }
  
  #main-container .card {
    margin: 1%;
  }
  
  .card {
    background-color: grey;
    display: flex;
    flex-direction: column;
    opacity: 1;
    height: clamp(4em, 120%, 20rem);
    width: clamp(18rem, 25vw, 20rem);
    border: solid 3px black;
    border-radius: 6px;
  }
  
  #card-head {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 40%
  }
  
  #card-head li {
    margin: 1vw;
    list-style-type: none;
  }
  
  #codepen-icon {
    align-self: flex-end;
  }
  
  .card .section {
    margin: 0 1em;
    height: auto;
  }
  
  @media (max-width: 400px) {
    .card {
      width: clamp(1em 80vw 33%);
      height: 44vh;
    }
  }
  
  